@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mondapick";
  src: url("../fonts/Mondapick-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mondapick";
  src: url("../fonts/Mondapick-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mondapick";
  src: url("../fonts/Mondapick-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mondapick";
  src: url("../fonts/Mondapick-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mondapick Semiblod";
  src: url("../fonts/Mondapick-Semiblod.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mondapick";
  src: url("../fonts/Mondapick-ExtraboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mondapick";
  src: url("../fonts/Mondapick-Extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mondapick";
  src: url("../fonts/Mondapick-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
